.inter-regular  {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .body{
    background-color: black;
    max-width: 100%;
    margin: 0px auto;

  }

  .shape {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
  }
  .home{
    border-radius: 46px;
    padding: .9rem 2rem;
    background-color: crimson;
    font-weight: 600;
    position: relative;
    right: 40px;
    
  }

  /*shared style*/

  .home{
    background-color: crimson;
    
  }

  .text-01{
    color:rgba(255, 255, 255, 1) ;
  }

  .text-02{
    color: rgba(255, 255, 255, 0.5);
  }
/* nav style*/

.mbanner{
  max-width: 100%;
  margin: 0 auto;

  background: rgba(44, 43, 43, 0.8);
  position: relative;
  
}
.fit{
  padding: 0px 100px 0px 200px;

}

.navbar{
  display: flex;
  text-align: center;
  align-items: center;
}
.ul1{
  box-shadow: 0px 0px 1px 0px;
  display: flex;
  gap: 40px;
  border-radius: 50px;
  width: 480px;
  height: 46px;
  align-items: center; 
 

}

.menu{
  display: none;
  font-size: 40px;
}



.brand{
  color: rgba(230, 83, 60, 1);
  font-weight: 900;
  font-style: italic;
  font-size: 36px;
  font-weight: 900;
 
}
.nav-link{
  text-decoration: none;

}

  .nav-item{
    list-style: none;
    margin-right: 20px;
    

  }
.navbar{
  justify-content: space-between;
}




.mainb{
  max-width: 100%;
  display: flex;
}

.banner{
  max-width: 90%;
  margin: 0 auto;
  padding: 96px 88px 76px 190px;
}

.b1{
  max-width: 520px;
  height: 440px;
  row-gap: 28px;
  position: relative;
  bottom: 100px;
  


}
.t01{
  max-width: 520px;
  
  font-size: 78px;

}

.t02{
  max-width: 520px;
  height: 48px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.btn-1{
  background-color: crimson;
  width:224px;
  height: 54px;
  border-radius: 42px;
  font-size: 18px;
  font-weight: 600;
  color: aliceblue;
}

.bimg{
  max-width: 349px;
  height: 620px;
  
  

}

.card{
  position: relative;
}
.c2{
  width: 198px;
  height: 98px;
  border-radius: 12px;
  box-shadow: 0px 0px 4px 0px;
  position: absolute;
  bottom: 250px;
  text-align: center;
  backdrop-filter: blur(10px);

}

.c{
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: crimson;
  margin-top: 30px;
  margin-left: 20px;
  
}
.ct{
  width: 108px;
  height: 56px;
  position: relative;
  bottom: 90px;
  left: 50px;
}

.t300{
  font-size: 24px;
  font-weight: 800;
  padding:20px 63px 52px 12px ;

}
.vt{
  width:108px ;
  padding:8px 23px 20px 12px ;
  position: relative;
  bottom: 75px;
  color: rgba(255, 255, 255, 0.5);
  text-align: left;
}
.c1{
  max-width: 198px;
  height: 98px;
  border-radius: 12px;
  box-shadow: 0px 0px 4px 0px ;
  position: relative;
  bottom: 550px;
  left: 200px;
  text-align: center;
  backdrop-filter: blur(10px);

}

.te01{
  font-size: 40px;
  font-weight: 800;
  padding: 10px 53px 41px 30px;
  
}
.te02{
  width: 146px;
  height: 20px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  position: relative;
  bottom: 75px;
  left: 20px;
  
  
  
}
  
 /* habit section*/
 .habit{
  max-width: 1044px;
  height: 452px;
  margin: 0 auto;
 
  
  
 }

 .title{

  text-align: center;
  max-width: 671px;
  margin: 0 auto;

  
  
 }

 .title1{
  max-width: 476px;
  height: 58px;
  font-size: 48px;
  margin: 0 auto;
  
 }

 .p1{
  
  margin-top: 40px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  
 }

 .p2{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
 }

 .habits{
  display: flex;
  text-align: center;
  padding-top: 58px;
  gap: 40px;
  align-items: center;
 }

 .h{
  max-width: 231px;
  height: 274px;

 }

 .img{
  border-radius: 50%;
 }

 /*Run Section*/

 .run{
  background-color: rgb(42, 39, 39);
  max-width: 90%;
  border-radius: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  padding: 30px 30px 30px 30px;
  position: relative;
  top: 100px;

 }

 .imgr{
  max-width: 466px;
  border-radius: 20px;
  object-fit: cover;
  
 }

 .runt{
  max-width: 443px;
  
 }

 .runh{
  max-width: 443px;
  height: 116px;
  font-size: 48px;
 }

 .runp{
  
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);

 }

 .join{
  width: 224px;
  height: 54px;
  border-radius: 42px;
  background-color: coral;
  color: aliceblue;
  font-size: 18px;
  font-weight: 600;
 }


 /*BMI Section*/

 .intro{
  text-align: left;
  width:671px;
  height: 120px;
  padding: 88px 384.5px 88px 384.5px;
  
 }

 .bmt{
  font-weight: 433px;
  font-size: 27px;
  font-weight: 800;
 }
 .bmtp{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 20px;
 }
 .bmih{
  font-weight: 600;
  font-size: 48px;
 }

 .bmip{
  color: rgba(255, 255, 255, 0.5);
 }

 table, th, td {
  border:1px solid rgb(200, 198, 198);
}

table{
  width: 310px;
  height: 216px;
  border-collapse: collapse;
  }

  td{
    text-align: center;
  }

  .bmi-c{
    width: 1440px ;
    height: 487px;
    background-color:rgb(42, 39, 39) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .bmi-form{
    width: 577px;
    height: 380px;
    padding: 49px 200px 120px 50px;
  }

  

  .f{
    width: 282.5px;
    height: 48px;
    background-color: rgb(53, 53, 53);
    border-radius: 8px;
    color:white
  }

.form{
  width: 577px;

  display: grid;
  grid-template-columns: 2fr 2fr ;
  column-gap: 12px;
  row-gap: 12px;
  
}

.bbtn{
  width:224px;
  height: 54px;
  background-color: coral;
  border-radius: 42px;
  font-size: 18px;
  font-weight: 600;
  color: aliceblue;
  position: relative;
  top: 80px;
  right: 300px;
  

}

.bmi-chart{
  padding: 138px 175px 280px 189px;

}


/*Team Section*/

.team{
  width: 671px;
  height: 120px;
  text-align: center;
  padding: 88px 384.5px 120px 384.5px;
  
}
.mh{
  font-size: 48px;
  font-weight: 700;
}
.mp{
  color: rgba(255, 255, 255, 0.5);
}

.tcontainer{
  width: 1060px;
  height: 604px;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr ;
  background-color: rgb(53, 53, 53);
  padding: 20px 20px 50px 70px;
  align-items: center;
  position: relative;
  left: 140px;
  border-radius: 20px;
  padding: 40px 30px 80px 60px;

}

.images{
  
  width: 326px;
  height: 272px;
  border-radius: 16px;
  
 
}

.th{
  position: relative;
  bottom: 100px;
  left: 20px;
  
}


/*footer Section*/

.mfooter{
  width: 1440px;
  height: 489px;
  background-color:rgb(42, 39, 39);
  position: relative;
  top: 100px;

}


.footer{
  width: 1059px;
  height: 249px;
  padding: 66px 191px 174px 191px ;
  display: flex;
  gap: 102;
  position: relative;
  bottom: 100px;
}

.fft{
  width: 443px;
  height: 176px;
  padding: 0px 102px 73px 0px;

}
.ft{
  width: 256px;
  height: 84px;
  font-size: 4.3rem;
  font-weight: 900;
  font-style: italic;
  color: brown;

}
.pt{
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  width: 443px;
  position: relative;
  bottom: 30px;
}

.ft1{
  width: 181px;
  height: 249px;
  padding: 66px 110px 79px 0px;
  

}

.ft2{
  width: 181px;
  height: 249px;
  padding: 66px 192px 79px 102px;
  

}

.fb{
  width: 1000px;
  height: 2px;
  box-shadow: 0px 1px 1px 0px;
  color: rgb(236, 238, 231);
  position: relative;
  bottom: 100px;
  left: 240px;
}

.fp{
  width: 318px;
  height: 24;
  font-size: 20;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  bottom: 100px;
  left: 600px;
  text-align: center;
}

.ulf1{
  position: relative;
  right: 40px;
  width: 120px;
  height: 42px;
}

/*responsive*/

@media screen and (max-width: 576px) {


  
  
 
  .mainb
  {
    flex-direction: column;
    
  }

  .t02{

  }

  .banner{
    padding-left: 0px;
  }

 .brand{
  position: relative;
  right: 180px;
 }
.ul1{
  display: none;
}
 .menu{
  display: block;
  color: aliceblue;
 }
  /*habit*/


 
  .habits{
    flex-direction: column;
    
  }
  /*run*/
  .run{
    margin: 0 auto;
    max-width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 1000px;
    gap: 40px;
  }


  /*bmi*/

  .bmi-c{
    width: auto;
    height: auto;
    flex-direction: column;
  }

  /*team*/
  .team{
    
    margin-top: 400px;
    position: relative;
  }
  .tcontainer{
    width: auto;
    height: auto;
    grid-template-columns: 1fr;
    position: relative;
    
  }
/*footer*/
.mfooter{
  width: auto;
  height: auto;
}

.footer{
  
  flex-direction: column;
}
.fp{
  margin-top: 500px;
  position: relative;
  left: 200px;
}

}

