.inter-regular  {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .body{
    background-color: black;
    max-width: 1440px;
    margin: 0px auto;

  }

  .shape {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: italic;
  }
  

  /*shared style*/

  .display-flex{
    display: flex;

  }

  .text-01{
    color:rgba(255, 255, 255, 1) ;
  }

  .text-02{
    color: rgba(255, 255, 255, 0.5);
  }
/* nav style*/

.brand{
  color: rgba(230, 83, 60, 1);
  font-weight: 900;
  font-style: italic;
 
}
.nav-link{
  text-decoration: none;

}

  .nav-item{
    list-style: none;
    margin-right: 30px;

  }
.navbar{
  justify-content: space-between;
}



.img1{
 
}

.b1{
  width: 520px;
}

.contain-01{
  align-items: center;
  justify-content: space-between;
}


  
 /* habit section*/
 .habit{
  width: 1044px;
  height: 452px;
  justify-content: center;
  padding: 100px 198px 100px 198px;
 }

 .title{

  text-align: center;
  width: 671px;
  height: 120px;
  padding: 0px 186.5px 58px 186.5px;
 }

 .title1{
  width: 476px;
  height: 58px;
  font-size: 48px;
  padding: 0px 97.5px 5px 97.5px;
  
 }

 .p1{
  
  color: rgba(255, 255, 255, 0.5);
 }

 .p2{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
 }

 .habits{
  display: flex;
  text-align: center;
  padding-top: 58px;
  gap: 40px;
 }

 .h{
  width: 231px;
  height: 274px;

 }

 .img{
  border-radius: 50%;
 }

 /*Run Section*/

 .run{
  background-color: rgb(42, 39, 39);
  width: 1000px;
  height: 371px;
  border-radius: 8px;
  padding: 100px 190px 100px 190px;
  display: flex;
  align-items: center;
  
  
 }

 .imgr{
  width: 366px;
  height: 312px;
  border-radius: 18px;
  padding: 30px 32px 35px 165px;

 }

 .runt{
  width: 500px;
  height: 290px;
  padding: 40px 165px 150px 58px;


 }

 .runh{
  font-size: 48px;
 }

 .runp{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);

 }

 .join{
  width: 224px;
  height: 54px;
  border-radius: 42px;
  background-color: coral;
  color: aliceblue;
  font-size: 18px;
  font-weight: 600;
 }


 /*BMI Section*/

 .intro{
  text-align: center;
  width:671px;
  height: 120px;
  padding: 88px 384.5px 88px 384.5px;
  
  
 }

 table, th, td {
  border:1px solid rgb(200, 198, 198);
}

table{
  width: 310px;
  height: 216px;
  border-collapse: collapse;
  }

  td{
    text-align: center;
  }

  .bmi-c{
    width: 1440px ;
    height: 487px;
    background-color:rgb(42, 39, 39) ;
    display: flex;
    justify-content: space-between;
  }


  .bmi-form{
    width: 577px;
    height: 380px;

  }

  .f{
    width: 282.5px;
    height: 48px;
    background-color: rgb(53, 53, 53);
    border-radius: 8px;
  }

.form{
  display: grid;
  grid-template-columns: 1fr 2fr  ;
  column-gap: 12px;
  row-gap: 12px;
}

.bbtn{
  width:224px;
  height: 54px;
  background-color: coral;
  border-radius: 42px;
  font-size: 18px;
  font-weight: 600;
  color: aliceblue;
  

}

/*Team Section*/

.tcontainer{
  display: grid;
  grid-template-rows: 1fr 2fr;

}


/*footer Section*/